body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

a{
    color: black;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    padding: 10px;
    transition: transform 0.3s ease;
}

button{
    transition: transform 0.3s ease;
}

text{
    transition: transform 0.3s ease;
}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-decoration: none;
}

.PrenomHeader{
    margin-left: 20px;
    font-size: 30px;
    font-style: bold;
}

.NavHEaderAcceuil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-style: bold;
    font-size: 23px;
}

.ChildNavHeaderAcceuil{
    margin-left: 100px;
    margin-right: 50px;
}

.infoAcceuil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.textLeftAcceuil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topTextLeftAcceuil{
    font-weight: 900;
    font-size: 45px;
    margin: 0px;
    transition: transform 0.3s ease;
}

.bottomTextLeftAcceuil{
    font-weight: 800;
    font-size: 35px;
    margin: 0px;
    transition: transform 0.3s ease;
}

.imageRightAccueil{
    margin: 40px;
    width: 300px;
    border-radius: 75px;
    transition: transform 0.3s ease;
}

.divButtonAccueil{
    display: flex;
    justify-content: center;
}

.buttonAccueil{
    border-radius: 40px;
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

.mainDivProjet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.boutonProjet{
    border-radius: 40px;
    font-size: 15px;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

.imagePorjet{
    width: 400px;
    border-radius: 30px;
    filter: blur(3px);
    transition: transform 0.5s ease;
}

.topTextLeftAcceuil:hover{
    transform: scale(1.2);
    color: #6B2310;
}

.bottomTextLeftAcceuil:hover{
    transform: scale(1.2);
    color: #6B2310;
}

.imageRightAccueil:hover{
    transform: scale(1.2);
}

button:hover{
    background-color: white;
    color: black;
    transform: scale(1.05);
}

.TitleProject:hover{
    color: #6B2310;
}

.imagePorjet:hover{
    filter: blur(0);
    transform: scale(1.1);
}

a:hover{
    background-color: black;
    color: white;
    border-radius: 40px;
    transform: scale(1.1);
}

@media (max-width: 768px){
    .Header{
        font-size: 20px;
    }

    .ChildNavHeaderAcceuil{
        margin-left: 25px;
        margin-right: 25px;
        font-size: 20px;
    }

    .infoAcceuil{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textLeftAcceuil{
        font-size: 30px;
    }

    .mainDivProjet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagePorjet{
        margin-top: 30px;
        margin-left: 30px;
    }
}

@media (max-width: 425px){
    .textLeftAcceuil{
        font-size: 30px;
    }
}